@use "global" as *;

.flow-section{
    position: relative;
}
.flow-section:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/common/pc-img/flow/flow-top.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 100%;
    display:inline-block;
    z-index: -2;
}
.flow-section:after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #333;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    opacity: .5;
}