@use "global" as *;

.btn{
    position: relative;
    background-color:#FFFAC5;
    color:#061C42;
    border-radius:20px 20px;
    font-weight: 900;
    display:inline-block;
    width: 100%;
    text-align: left;
    max-width: rem(300);
    padding: rem(15) rem(26);
    line-height: 1.1;
    @include mq(md) {
        max-width: rem(303);
        width: 100%;
        font-size: rem(27);
        line-height: 1.12;
        padding:rem(19) rem(56) rem(17) rem(22);
    }
}
.btn span{
    display:flex;
    font-size: rem(15);
    padding-top:rem(10);
}
.btn:hover {
    background-color: #061C42; /* ホバー時の背景色を元のテキスト色に */
    color: #FFFAC5; /* ホバー時のテキスト色を元の背景色に */
    transition: .5s;
}
.btn:hover:before {
    background-image:url("../images/common/pc-img/icon/arrow-2.webp");
    transition: .5s;
}
.btn:before{
    content:"";
    display:inline-block;
    @include mq(md) {
        max-width: rem(44);
        width: 100%;
        height: rem(40);
        position: absolute;
        right:rem(8);
        top:50%;
        transform:translateY(-50%);
        z-index: 10;
        background-image: url("../images/common/pc-img/icon/arrow.webp");
        background-repeat:no-repeat;
        background-size:contain;
    }
}

.btn span{
    @include mq(md) {
        font-size: rem(15);
    }
}