@use "global" as *;

.btn{
    position: relative;
    background-color:#FFFAC5;
    color:#061C42;
    border-radius:20px 20px;
    font-weight: 900;
    display:inline-block;
    width: 100%;
    text-align: left;
    max-width: rem(300);
    padding: rem(15) rem(26);
    line-height: 1.1;
    @include mq(md) {
        max-width: rem(303);
        width: 100%;
        font-size: rem(27);
        line-height: 1.3;
        padding:rem(15) rem(56) rem(15) rem(30);
    }
}
.btn span{
    display:flex;
    font-size: rem(15);
}
.btn:hover {
    background-color: #061C42; /* ホバー時の背景色を元のテキスト色に */
    color: #FFFAC5; /* ホバー時のテキスト色を元の背景色に */
    transition: .5s;
}
.btn:hover:before {
    transition: .5s;
}
.btn:before{
    content:"";
    display:inline-block;
    @include mq(md) {
        max-width: rem(44);
        width: 100%;
        height: rem(40);
        position: absolute;
        right:rem(8);
        top:50%;
        transform:translateY(-50%);
        z-index: 10;
        background-image: url("../images/common/pc-img/drawer/drawer__menu.webp");
        background-repeat:no-repeat;
        background-size:contain;
    }
}

.btn__sheep{
    position: relative;
    font-size: rem(27);
}
    .btn__sheep.btn:before{
        content: "";
        display:inline-block;
        max-width: rem(60);
        width: 100%;
        height:rem(60);
        background-image: url("../images/common/pc-img/icon/SHEEP-IMAGE.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        right:rem(12);
        top:50%;
        transform: translateY(-50%);
        @include mq(md) {
            max-width: rem(70);
            height:rem(80);
        }
    }
    .btn__sheep.btn:hover:before{
        background: url("../images/common/pc-img/icon/SHEEP-IMAGE-2.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: rem(60);
        max-width:rem(60);
        @include mq(md) {
            max-width: rem(70);
            height:rem(80);
            
        }
    }
