@use "global" as *;

.card-item{
    display: grid;
    grid-template-columns: 1fr; /* スマートフォン表示では1列 */
    // grid-gap: 20px; /* グリッドアイテム間のギャップ */
    
    @include mq(md) {
        grid-template-columns: 1fr 1fr; /* PC表示では2列 */
        grid-template-areas: 
          "title image"
          "text image"; /* タイトルと画像は上、テキストと画像は下 */
    }
}
.character__cards--reverse{
    @include mq(md) {
        grid-template-columns: 43% 1fr; /* 左側を40%、右側を60%に設定 */
        grid-column-gap:rem(56);
    }
}

.card-item:nth-child(2){
    flex-direction: row-reverse;
}

.card-item__image{
    max-width: rem(235);
    margin:auto;
    margin-top: rem(14);
   @include mq(md) {
    grid-area: image; /* 画像の位置 */
    justify-self: center; /* 中央寄せ */
    width: 100%; /* 幅の調整 */
    max-width: 462px; /* 最大幅の設定 */
    margin-top: 0;
   }
}
.character__cards--reverse .card-item__image{
    @include mq(md) {
        margin-right:rem(46)
    }
}
.character__card--asirai .card-item__image{
    @include mq(md) {
        margin-left:rem(78);
        grid-template-columns: 1fr rem(46) 43%; /* 左側を40%、右側を60%に設定 */
        max-width: rem(430);
    }
}
.card-item__image img{
    height:auto;
    object-fit: cover;
}
.card-item__title{
    display:flex;
    margin:auto;
    height:100%;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include mq(md) {
        justify-content: flex-start;
        margin-left: 0;
        grid-area: title; /* タイトルの位置 */
        margin-top:rem(-15);
        max-width: 100%;
    }
}
.card-item__titleMain{
    font-size: rem(18);
    color: #fff;
    line-height:1.8;
    @include mq(md) {
        line-height: 1;
        font-size: rem(32);
    }
}
.card-item__body{
    color: #fff;
    @include mq(md) {
      padding:rem(16) rem(16) rem(40);
    }
}

.card-item__number{
    margin-right:rem(10);
    @include mq(md) {
        max-width: rem(80);
        height:auto;
        margin-right:rem(18);
    }
}
.card-item__number img{
    object-fit: contain;
    max-width: rem(40);
    max-width: rem(74);
    width: 100%;
    @include mq(md) {
        max-width: 100%;
        
    }
}
.card-item__text{
    font-size: rem(15);
    line-height:calc(22.5 / 15);
    color: #fff;
    padding:0 rem(6);
    max-width: rem(450);
    margin:rem(15) auto;
    letter-spacing: .01em;
    @include mq(md) {
        max-width: 100%;
        margin-top:rem(-40);
        font-size: rem(16);
        padding:0;
        grid-area: text; /* テキストの位置 */
        padding-top: rem(10);
        padding-left:rem(4);
    }
}