@use "global" as *;


.cardItem{
    width: 100%;
    position: relative;
    overflow: hidden;
    max-width: rem(320);
}
.cardItem figure{
   padding-right: rem(19);
   overflow: hidden;
}
.cardItem figure img{
    object-fit: cover;
    transition: transform 0.3s ease;
}

.cardItem:before{
    content:"therapist";
    display:inline-block;
    width:rem(67);
    height:auto;
    position: absolute;
    top:rem(25);
    right:rem(-24);
    font-weight: bold;
    font-size: rem(15);
    transform: rotate(90deg);
}
.cardItem__info{
    display:flex;
    margin-top: rem(12);
    width: 100%;
    max-width: rem(300);
    @include mq(md) {
        margin-top: rem(12);
    }
}
.cardItem__titleEn{
    margin-right: auto;
    font-size: rem(20);
    font-family: "Baloo Bhaijaan 2", sans-serif;
    line-height: 1;
    @include mq(md) {
        font-size: rem(32);
        margin-right:auto;
    }
}
.cardItem__titleJa{
    font-weight: 500;
    letter-spacing: -.1em;
}
/* カードアイテムのスタイル */

/* カードアイテムがホバーされた時の挙動 */
.cardItem:hover figure img {
    transform: scale(1.1); /* 画像を10%拡大 */
}
