@use "global" as *;

.cards{
  grid-template-columns: repeat(1, min(73vw, 78rem));
  display: grid;
  justify-content: center;
  gap: min(3.25vw, 3.5rem);
  margin: rem(24) auto 0;
 
   @include mq(md) {
        grid-template-columns: repeat(2, 223px);
        margin: rem(-24) auto 0;
      }
      @include mq(lg) {
    margin: rem(-27) auto 0;
    grid-template-columns: repeat(4, 223px);
  }
}
.character__inner{
  position: relative;
}
.character__inner:after{
  content:"";
  display:inline-block;
  background-image: url("../images/common/pc-img/character/mokumoku03.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  right:rem(-120);
  bottom:rem(450);
  width:rem(250);
  height:rem(176);
  @include mq(md) {
    left:rem(26);
    bottom:rem(80);
  }
}
