@use "global" as *;

.drawer{
    display:block;
    position: absolute;
    top:50%;
    right:rem(10);
    width:rem(30);
    height:rem(20);
    transform: translateY(-60%);
    @include mq(md) {
        display:none
    }
}
.drawer__btn{
    position: absolute;
    display:inline-block;
    width:rem(22);
    height:rem(2);
    background-color: #fff;
}
.drawer__btn.is-active.drawer__btn--1{
    transform:translate(-50% ,-50%) rotate(45deg);
    top:50%;
}
.drawer__btn.is-active.drawer__btn--2{
    opacity: 0;
}
.drawer__btn.is-active.drawer__btn--3{
    top:50%;
    transform: translate(-50% ,-50%) rotate(-45deg);
}
.drawer__btn--1{
    top:0;
    left:50%;
    transform: translateX(-50%);
    transition: .9s;
}
.drawer__btn--2{
    top: 50%;
    left:50%;
    transform: translate(-50% ,-50%);
}
.drawer__btn--3{
    bottom: 0%;
    left:50%;
    transform: translate(-50% ,0%);
    transition: .9s;
}