@use "global" as *;

.header {
    height: rem(54);
    width: 100%;
    position:fixed;
    z-index: 9999;
    top: 0;
    background-color: #061C42;
    transition: top 0.3s;
    @include mq(md) {
        height:rem(100);
        position: relative;
    }
}
.hidden {
    top: -100%; /* ヘッダーを上にスライドアウトさせる */
}
.header__inner {
    // padding: .8rem calc(max(.937vw,.937rem)) .8rem calc(max(.937vw,.937rem));
    padding:rem(5) rem(8);
    height: inherit;
    @include mq(md) {
        padding: rem(0) min(10.2vw,8.2rem) 0 min(9.2vw,8.1rem);
        margin: auto;
    }
}
.header__inner.is-active{
    
}
.header__logo{
    max-width: rem(88);
    width: 100%;
    height:100%;
    margin-right:rem(10);
    @include mq(md) {
        margin-right:rem(28);
        max-width: rem(200);
    }
}
.header__logo img{
    object-fit: contain;
    height: 100%;
}
.header__left {
    display:none;
    // display:flex;
    // justify-content: space-between;
    // align-items:center;
    // height:inherit;
    // @include mq(md) {
    //     justify-content: unset;
    // }
}
.header__subscription.btn{
    font-size: rem(10);
    max-width: rem(125);
    width: auto;
    @include mq(md) {
        display:block;
        font-size: rem(24);
        max-width: 100%;
        width: 100%;
    }
}
.header__content{
    margin-left: auto;
}
.header__container{
    @include mq(md) {
        padding-top:rem(6);
    }
}
.header__title {
   color:#fff;
   font-size: rem(11);
   @include mq(md) {
        font-size: rem(12);
        display: flex;
        align-items: center;
        font-size: rem(20);
        font-weight: bold;
    }
}
.header__subTitle{
    color:#fff;
    font-size: rem(16);
    @include mq(md) {
        font-size: rem(32);
        font-weight: bold;
    }
}
.header__right {
   background-color:#EBEBEB;
   width: 100%;
   overflow-x: auto; /* 横方向にスクロールバーを表示 */
    -webkit-overflow-scrolling: touch; /* iOSデバイスのスムーズなスクロールのため */
    display:none;
    @include mq(md) {
        display: block;
    }
}
.header__right--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* 必要に応じて調整 */
    z-index: 1000; /* 他の要素より前面に表示 */
}
.header__items{
        display: flex;
        align-items: center;
        height: inherit;
        justify-content:center;
        padding: 0; /* デフォルトのパディングをリセット */
        margin: 0; /* デフォルトのマージンをリセット */
        height:rem(30);
        @include mq(md) {
            height:rem(50);
            
        }
}
.header__item{
    white-space: nowrap; /* メニュー項目のテキストを折り返さない */
    padding: 10px; /* 適切な間隔 */
}
.header__right--narrow {
    /* 画面が狭くなった時に適用されるスタイル */
    padding-left:min(50.25vw,50rem);
}
.header__item a {
    font-size: rem(12);
    position: relative;
    display: inline-block; /* リンクをインラインブロック要素に */
    text-decoration: none; /* 既定の下線を削除 */
    color: #000; /* リンクのテキスト色 */
    padding-left:rem(10);
    padding-right:rem(10);
    @include mq(md) {
        font-size: rem(16);
        padding-top: rem(10); /* リンクのパディング（必要に応じて調整） */
        padding-bottom: rem(10); /* リンクのパディング（必要に応じて調整） */
        padding-left: min(3.48vw, 3.5rem);
        padding-right: min(3.48vw, 3.5rem);
    }
  }
  
  .header__item a::after {
    content: '';
    position: absolute;
    width: 0; /* 初期状態では幅0 */
    height: 2px; /* 下線の太さ */
    bottom: 0; /* 下線の位置 */
    left: 50%; /* 左端をリンクの中心に設定 */
    background-color: #000; /* 下線の色 */
    transform: translateX(0);
    transition: all 0.3s ease; /* アニメーションの速度と種類 */
  }
  
  .header__item a:hover::after {
    width: 100%; /* ホバー時は幅を100%に */
    left: 0; /* 左端をリンクの端に設定 */
  }
  
.header__item a span{
    font-size: rem(10);
    text-align: center;
}
.header__drawer > .header__drawer-item{
    column-gap:rem(6);
}
 .header__drawer-background{
    transition: .3s;
}
.header__drawer-background.is-active{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 99;
    background-color: #061C42;
}
.header__content {
    position:absolute;
    top: rem(104);
    left: 0;
    height: rem(10);
    z-index: 999;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    opacity: 0;
    visibility: hidden;
 //    transition: .3s;
    grid-row-gap: 40px;
    column-gap: rem(16);
    margin-top: rem(24);
    @include mq(md) {
         grid-template-columns: repeat(4,1fr);
    }   
 }
 .header__content.is-active{
     opacity: 1;
     width: 100%;
     visibility: visible;
     height: 100vh;
     padding-bottom: rem(120);
     overflow: scroll;
     grid-template-rows: rem(242) rem(250) 0;
 }
.header__wrapper{
    
    @include mq(md) {
        display:flex;
        align-items: center;
        justify-content:space-between;
    }
}
.header__titleArea{
    line-height: 1.1;
    @include mq(md) {
        display:flex;
        flex-direction: column;
    }
}
 .header__wrapperLeft{
    display:flex;
    align-items: center;
    @include mq(md) {
        justify-content:unset;
    }
 }
 .header__wrapperLeft--hidden {
    display: none;
  }
 .header__wrapperRight{
    display:none;
    @include mq(md) {
       display: block; 
    }
 }
 .header__btnArea{
    text-align: center;
 }
 .header__btn{
    position: relative;
    max-width: rem(200);
 }
 
 .header__btn:before{
    content: "";
    display:inline-block;
    position: absolute;
    right: rem(10);
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../images/common/pc-img/drawer/drawer__menu.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: rem(33);
    height: rem(25);
 }