@use "global" as *;


.imgCards{
    max-width:rem(440);
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
   flex-direction: column;
   margin: auto;
   @media(min-width: 769px){
       display: flex;
       flex-direction: row;
       justify-content: center;
       max-width: 100%;
    //    margin: rem(-40) auto 0; /* 余白調整用のマイナスマージン */
    }
}