@use "global" as *;

.items{
    display: grid;
    max-width: rem(400);
    margin: auto;
    gap:min(6.25vw,6.5rem);
    @include mq(md) {
        grid-template-columns: repeat(1,277px);
        justify-content: center;
    }
    @include mq(lg) {
        grid-template-columns: repeat(3,277px);
    }
}