@use "global" as *;

.priceCare{
    margin-top: rem(40);
    @include mq(md) {
        margin-top: rem(10);
    }
}
.priceCare__wrapper{
    margin-top: rem(40);
    @include mq(md) {
        margin-top: rem(-94);   
    }
}
.price-special__btnArea{
    margin-top: rem(45);
    text-align: center;
}