@use "global" as *;

.top{
    position: sticky;
    @include mq(md) {
        margin-top: rem(50);
    }
}
.top:before{
    content: "";
    width:rem(152);
    height:rem(114);
    display:inline-block;
    background-image: url("../images/common/pc-img/logo/logo-circle.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display:inline-block;
    position: absolute;
    bottom:rem(8);
    left:rem(-7);
    z-index: 2;
    @include mq(md) {
        width: rem(240);
        left:min(7.45rem,7.85rem);
        bottom:rem(8);
    }
}
.top__title{
    position:absolute;
    top:56%;
    left:50%;
    transform:translate(-50%,-50%);
    display:inline-block;
    text-align: center;
    z-index: 9;
    line-height: 1.2;
    width: 100%;
    color: #fff;
    font-size: min(5.2vw,5.25rem);
    @include mq(md) {
        top:48%;
        line-height: 1.1;
    }
}

.top__titleMain{
    font-weight: bold;
    font-size: rem(24);
    @include mq(md) {
        font-size: rem(48);
        line-height: 1.25;
        margin-top:rem(8);
    }
}
.top__text{
    display:none;
    @include mq(md) {
        display:block;
        font-size: rem(16);
        margin-top: rem(24);
        padding: 0 rem(24);
        line-height:1.875;
    }
}
.top__titleMain--fzNormal.top__titleMain{
    font-size: rem(40);
    letter-spacing: 0;
    text-indent:0;
    @include mq(md) {
        font-size: rem(80);
    }
}
.top__titleMain.top__titleMain--fzBig{
    font-size: rem(80);
}
.top__titleSub{
    display:inline-block;
    
    @include mq(md) {
        width: 100%;
        text-align: center;
        font-size: rem(36);
    }
}
.top__titleSub span{
    position: relative;
    display:inline-block;padding:0 rem(16);
    text-indent: .3em;
    @include mq(md) {
        padding:0 rem(24);
        
    }
}
.top__titleSub span:before{
    content:"";
    display:inline-block;
    height:rem(36);
    width:rem(1);
    background-color:#fff;
    position: absolute;
    left:0;
    top:50%;
    transform:translateY(-50%) rotate(-45deg);
}
.top__titleSub span:after{
    content:"";
    display:inline-block;
    height:rem(36);
    width:rem(1);
    background-color:#fff;
    position: absolute;
    right:0;
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}
.top__swiperVisual img{
    aspect-ratio:393 / 416;
    object-fit: cover;
    height: 100%;
    @include mq(md) {
        aspect-ratio:1440 / 800;
    }
    @include mq(sm) {
        aspect-ratio:750 / 648;
    }
}